<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Web</title>
  <base href="/view">  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.edf8102235b0f156f790.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.8fbc2fd6f12647d93e24.js" defer></script><script src="polyfills-es5.71a832fb9155b3fc8786.js" nomodule defer></script><script src="polyfills.ff9816080fbbebe59054.js" defer></script><script src="main.7b5d5560a9da777447e3.js" defer></script></body>
</html>
